# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Task06.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\C# Projects\Task06\.idea\.idea.Task06\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
